<?xml version="1.0"?>
<config>
    <modules>
        <Kiwibuy_MaxQuantityPerCustomer>
            <version>0.0.1</version>
        </Kiwibuy_MaxQuantityPerCustomer>
    </modules>
    <global>
        <helpers>
            <maxquantitypercustomer>
                <class>Kiwibuy_MaxQuantityPerCustomer_Helper</class>
            </maxquantitypercustomer>
        </helpers>
        <models>
            <!-- ... -->
            <maxquantitypercustomer>
                <class>Kiwibuy_MaxQuantityPerCustomer_Model</class>
            </maxquantitypercustomer>   
            <!-- ... -->
        </models>
    </global>
    <frontend>
        <routers>
            <maxquantitypercustomer>
                <use>standard</use>
                <args>
                    <module>Kiwibuy_MaxQuantityPerCustomer</module>
                    <frontName>maxquantitypercustomer</frontName>
                </args>
            </maxquantitypercustomer>
        </routers>  
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderlimit_options>
                                            <title>Store Hello World Module Section</title>
                                        </orderlimit_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <!-- ... -->
        <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kiwibuy_MaxQuantityPerCustomer after="Mage_Adminhtml">Kiwibuy_MaxQuantityPerCustomer</Kiwibuy_MaxQuantityPerCustomer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
